// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #001E96;
$middle-blue: #6678c0;
$light-blue: #b2bbdf;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #00B589;
$gray: #0E0000;
$light-gray: #F4F4F4;
$winter-sky: #8698e0;
