<div class="row text-center">
  <div class="col-12 col-lg-6 offset-lg-3">
    <div class="transfer-payment-form">
      <% if @transfer.category == 'collateral_payment' %>
      <p class='h4'>Vous êtes sur le point de déposer par carte bancaire une garantie de <%= Loan.convert_amount(@transfer.amount_cents, 'EUR')%> euros.</p>
      <% else %>
      <p class='h4'>Vous êtes sur le point de transférer sur votre portefeuille par carte bancaire un montant de <%= Loan.convert_amount(@transfer.amount_cents, 'EUR')%> euros.</p>
      <% end %>
      <button id="pay" class="btn btn-primary w-100 mt-4 py-3">Confirmer</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @transfer.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>





