#chart-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.table {
  width: 90%;
  margin: auto;
}

#show {
  margin-top: 26px;
}

.table-loan-infos thead {
  th {
    border-bottom: none;
    font-size: 20px;
    color: $middle-blue;
  }
  span {
    font-weight: 300;
  }
  tr {
    display: flex;
    justify-content: space-around;
  }
}

.next-payment {
  display: none;
}

.historical-payment {
  display: none;
}

#loan-information {
  display: flex;
  position: relative;
}

.information-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex: 1;
}

.information-card-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex: 1;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    width: 100%;
    margin: 10px;
    text-align: center;
  }
}

.delete-icon {
  position: absolute;
  right: 29px;
  top: 10%;
}

.information-card {
  display: flex;
  flex-direction: column;
  margin:20px;
  div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.information-card2 {
  display: flex;
  flex-direction: column;
  margin:20px;
  div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.loan-title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
