<div class="hero image-as-background" style="background-image: url('https://images.unsplash.com/photo-1443890923422-7819ed4101c0?crop=entropy&dpr=2&fit=crop&fm=jpg&h=700&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300')">
  <div class="hero-container">
    <p class="animate fadeInLeft delay-400">Moula entre particuliers</p>
  </div>
  <div class="hero-container">
    <h1 class="hero-title animate fadeInLeft delay-600 text-center">French Coin</h1>
  </div>
  <div class="hero-container">
    <%= link_to 'Investir', lend_path, class: "hero-button animate fadeInLeft delay-800 bouton-banner-inv"%>
    <%= link_to 'Emprunter', new_loan_path, class: "hero-button animate fadeInLeft delay-800 bouton-banner-emp"%>
  </div>
</div>
