<footer class="bg-light text-center text-lg-start">
  <div class="social pt-2">
    <a href="#"><i class="fab fa-instagram fa-2x"></i></i></a>
    <a href="#"><i class="fab fa-twitter fa-2x ml-4 mr-3"></i></a>
    <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
  </div>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Home</a></li>
    <li class="list-inline-item"><a href="#">Services</a></li>
    <li class="list-inline-item"><a href="#">Notre histoire</a></li>
    <li class="list-inline-item"><a href="#">Termes</a></li>
    <li class="list-inline-item"><a href="#">Politique de confidentialité</a></li>
  </ul>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Le Wagon:
    <%= link_to"French Coin", root_path %>
  </div>
</footer>
