<div class="navbar d-flex justify-content-between align-items-center">
  <div class="navbar-left d-flex align-items-center">
    <%= image_tag 'logo.png'%>
    <a href="#">Earn</a>
    <a href="#">Borrow</a>
  </div>
  <div class="navbar-right d-flex align-items-center">
  <% if user_signed_in? %>
    <a href='#'>My loans</a>
      <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, class: 'avatar dropdown-toggle', id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
        <%= image_tag 'blank_avatar.png', class: 'avatar dropdown-toggle', id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
  <% else %>
    <a href="#">Log in</a>
    <a href="#">Sign up</a>
  <% end %>
  </div>
</div>
