<div class="navbar d-flex justify-content-between align-items-center">
  <div class="navbar-left d-flex align-items-center">
    <%# logo-img %>
    <a href="#">Earn</a>
    <a href="#">Borrow</a>
  </div>
  <div class="navbar-right d-flex align-items-center">
    <a href='#'>My loans</a>
  </div>
</div>
