<h1>this is ur dashboard</h1>
<p>iaiaiaia</p>


<div class="card-vertical card-white card-rounded p-4 m-5">
    <h3 class="h4 text-blue pb-2">Achat voiture</h3>
  <div class="card-horizontal">
    <div class="mr-2 text-center">
      <p class="text-middle-blue border-b-middle-blue pb-3">Collatéral déposée</p>
      <p class="font-weight-light mb-0">10 000 €</p>
    </div>
    <div class="mx-2 text-center">
      <p class="text-middle-blue border-b-middle-blue pb-3">Capital emprunté</p>
      <p class="font-weight-light mb-0">4 000 €</p>
    </div>
    <div class="mx-2 text-center">
      <p class="text-middle-blue border-b-middle-blue pb-3">Montant remboursé</p>
      <p class="font-weight-light mb-0">1200 €</p>
    </div>
    <div class="mx-2 text-center">
      <p class="text-middle-blue border-b-middle-blue pb-3">Capital restant dû</p>
      <p class="font-weight-light mb-0">2 800 €</p>
    </div>
    <div class="mx-2 text-center ml-auto">
      <a href="#" class="bouton btn-middle-blue">Voir le détail</a>
    </div>
  </div>
</div>


