<%= render 'shared/banner' %>
<div id="particles-js">
  <div class="d-flex flex-row justify-content-center" id="home">
    <div class="card m-5">
      <div class="card__image-container">
        <img class="card__image" src="http://okpaa.com/img/news/6028210d03da7641147352.jpg" alt="">
      </div>

        <svg class="card__svg" viewBox="0 0 800 500">

          <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
          <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
        </svg>

      <div class="card__content">
        <h1 class="card__title">Sans Risque</h1>
      <p>Nos experts controlent les risques avec différents types de garanties pour une facilité d'utilisation. Minimum de risque pour les deux parties.</p>
      </div>
    </div>
    <div class="card m-5">
      <div class="card__image-container">
        <img class="card__image" src="https://acheter-bitcoin.pro/wp-content/uploads/2018/03/acheter-ethereum.jpg" alt="">
      </div>

        <svg class="card__svg" viewBox="0 0 800 500">

          <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
          <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
        </svg>

      <div class="card__content">
        <h1 class="card__title">Simple</h1>
      <p>Une démarche simple et sécurisée. Nous nous assurons que les cryptos que vous empruntez peuvent être retirés immédiatement, dans n'importe quel coin du monde.</p>
      </div>
    </div>
    <div class="card m-5">
      <div class="card__image-container">
        <img class="card__image" src="https://mk0criptonoticijjgfa.kinstacdn.com/wp-content/uploads/2018/12/Sucesos-Paseo-Ethereum-2018.jpg" alt="">
      </div>

        <svg class="card__svg" viewBox="0 0 800 500">

          <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
          <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
        </svg>

      <div class="card__content">
        <h1 class="card__title">Rapide</h1>
      <p>Avec la technologie BLOCKCHAIN, entrez dans un monde de transparence financière sans intermédiaires.</p>
      </div>
    </div>
  </div>

  <div class="container downcard text-center">
    <div class="card-body mt-5">
      <h5 class="card-title text-center">NOS ENGAGEMENTS</h5>
      <p class="card-text text-center mb-5">
      French Coin vous accompagne dans votre quotidien pour mieux gérer vos économies et faire fructifier votre capital grâce à un marché bénéfique. Perfectionnez votre vie à travers une démarche décomplexée.
      Chez French Coin, nous croyons que les données informatiques du marché doivent être disponibles gratuitement au profit de l'écosystème. Jamais l'investissement n'a été si simple et avantageux.</p>
      <%= link_to 'Investir', wallet_path, class: "btn btn-primary"%>
      <%= link_to 'Emprunter', new_loan_path, class: "btn btn-primary"%>
    </div>
  </div>
</div>


