<%= render 'shared/banner' %>
<div class="d-flex flex-row justify-content-center" id="home">
  <div class="card m-5">
     <div class="card__image-container">
       <img class="card__image" src="https://images.unsplash.com/photo-1514302240736-b1fee5985889?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="">
    </div>

      <svg class="card__svg" viewBox="0 0 800 500">

        <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
        <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
      </svg>

     <div class="card__content">
       <h1 class="card__title mt-3">Sans Risque</h1>
     <p>Nos experts controlent les risques avec différents types de garanties pour une facilité d'utilisation. Minimum de risque pour les deux parties.</p>
    </div>
  </div>
  <div class="card m-5">
     <div class="card__image-container">
       <img class="card__image" src="https://images.unsplash.com/photo-1578346693440-3dcedf4b7b81?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1045&q=80" alt="">
    </div>

      <svg class="card__svg" viewBox="0 0 800 500">

        <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
        <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
      </svg>

     <div class="card__content">
       <h1 class="card__title mt-3">Simple</h1>
     <p>Une démarche simple et sécurisée. Nous nous assurons que les cryptos que vous empruntez peuvent être retirés immédiatement, dans n'importe quel coin du monde.</p>
    </div>
  </div>
  <div class="card m-5">
     <div class="card__image-container">
       <img class="card__image" src="https://images.unsplash.com/photo-1507235071172-438ca6950a8e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="">
    </div>

      <svg class="card__svg" viewBox="0 0 800 500">

        <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
        <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
      </svg>

     <div class="card__content">
       <h1 class="card__title mt-3">Rapide</h1>
     <p>Avec la technologie BLOCKCHAIN, entrez dans un monde de transparence financière sans intermédiaires.</p>
    </div>
  </div>
</div>
