<div class="add-a-loan mb-5">
    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-3">
        <h3 class="text-center">New loan</h3>
        <%= simple_form_for(@loan) do |f| %>
          <%= f.input :name, label: "Intitulé de mon emprunt" %>
          <%= f.input :amount_cents, label: "Montant de mon emprunt" %>
          <%= f.submit%>
        <% end %>
      </div>
    </div>
  </div>
