<div class="container" id="show">
  <h2 class="show-header p-4">Loan for: <%=@loan.name%></h2>

  <ul class="tabs list-inline" id="mytabs">
    <li class="tab tab-horizontal list-inline-item active" id="resume">Resume</li>
    <li class="tab tab-horizontal list-inline-item" id="next-payment">Next payment</li>
    <li class="tab tab-horizontal list-inline-item" id="historical-payment">Historical payment</li>
  </ul>

  <div data-controller="update-status">
    <div class="resume">
      <h4>Please do the collateral's transfer to confirm the following transaction</h4>
      <p class="text-center p-3">Loan information</p>
      
      <div class="card-white p-3" id="loan-information">
        <div class="information-card-container mr-3">
          <div class="information-card">
            <div class="text-middle-blue border-b-middle-blue">Collatéral à déposer</div>
            <div class="font-weight-light">10 000 €</div>
          </div>
          <div class="information-card">
            <div class="text-middle-blue border-b-middle-blue">Capital emprunté</div>
            <div class="font-weight-light">4 000 €</div>
          </div>
          <div class="information-card">
            <div class="text-middle-blue border-b-middle-blue">Currency</div>
            <div class="font-weight-light">Ethereum</div>
          </div>
          <div class="information-card">
            <div class="text-middle-blue border-b-middle-blue">Intérêts par mois</div>
            <div class="font-weight-light">1,23€</div>
          </div>
          <div class="information-card">
            <div class="text-middle-blue border-b-middle-blue">Durée (mois)</div>
            <div class="font-weight-light">12</div>
          </div>
          <div class="information-card">
            <div class="text-middle-blue border-b-middle-blue">Loan to Value</div>
            <div class="font-weight-light">50%</div>
          </div>
        </div>
        <div class="button-container">
          <%= link_to 'Transfer the collateral', '#', class: "bouton btn-middle-blue"%>
          <%= link_to 'Edit', '#', class: "bouton btn-middle-blue"%>
          <%= link_to 'Cancel', '#', class: "bouton btn-middle-blue"%>
        </div>
      </div>
    </div>

    <div class="next-payment">
    </div>

    <div class="historical-payment">
    </div>
</div>
