<div class="container m-5 mx-auto">
  <div class="row">
    <div class="col-sm">
  <div class="text-center">
    <h1>Relevé de remboursement</h1>
    </div>
      <table class="table my-5">

          <tr>
              <td class="col-ms-2 bg-gradient-primary text-middle-blue">Solde au 26 Mai 2021</td>
              <td class="col-ms-2">-400</td>
              <td class="text-center bg-gradient-primary text-middle-blue">Date d'échéance</td>
              <td class="text-center">30 Mai 2021</td>
          </tr>
            <tr>
              <td class="col-ms-2 bg-gradient-primary text-middle-blue">Prelevement à venir</td>
              <td class="col-ms-2"> 200€ </td>
              <td class="text-center bg-gradient-primary text-middle-blue">PDate prochaine échéance</td>
              <td class="text-center">31 Mai 2021</td>
          </tr>
          <tr>
              <td class="col-ms-2 bg-gradient-primary text-middle-blue">Intérêts Prélevés</td>
              <td class="col-ms-2"> 20€ </td>
              <td class="text-center bg-gradient-primary text-middle-blue">Taux</td>
              <td class="text-center">2%</td>
          </tr>
          <tr>
              <td class="col-ms-2 bg-gradient-primary text-middle-blue">Durée</td>
              <td class="col-ms-2"> 12 mois </td>
              <td class="text-center bg-gradient-primary text-middle-blue">Echéances restantes</td>
              <td class="text-center">1 mois</td>
          </tr>
      </table>
      </div>
</div>
</div>
