.bouton {
  padding: 10px;
  text-decoration: none;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  &:hover {
    opacity: 0.8;
  }
}

.btn-middle-blue {
  background-color: $middle-blue;
}
