.bouton {
  padding: 10px;
  text-decoration: none;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  &:hover {
    opacity: 0.8;
  }
}

.btn-middle-blue {
  background-color: $middle-blue;
  &:hover {
    text-decoration: none;
  }
}

.btn-middle-light-blue {
  background-color: #339AF0;
  &:hover {
    text-decoration: none;
  }
}

.btn-middle-green {
  background-color: $green;
  &:hover {
    text-decoration: none;
  }
}

.btn-middle-yellow {
  background-color: $yellow;
  &:hover {
    text-decoration: none;
  }
}
