.navbar {
  justify-content: space-between;
  // position: fixed;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background: $blue;
  a {
    color: $white;
    margin-right: 20px;
    &:hover {
      text-decoration: none;
    }
  }
  .dropdown-item {
    background-color: white;
    color: black;
    margin-right: 20px;
  }
}

#logout {
  border: none;
}

.navbar-left {
  img {
    width: 70px;
  }
  a {
    margin-right: 30px;
  }
}


.navbar-right {
  li {
    list-style: none;
  }
  a {
    &:hover {
      border-bottom: solid;
      border-color: blanchedalmond;
      text-decoration: none;
  }
}
}
