.tabs {
  margin-bottom: 35px;
}

.tab-horizontal {
  text-decoration: none;
  color: rgb(180, 180, 180) ;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}

.tab-horizontal:hover {
  text-decoration: none;
  color: rgb(120, 120, 120) ;
  font-weight: 400;
}

.tab-horizontal.active {
  color: #555555;
  border-bottom: 3px solid #555555;
  padding-bottom: 8px;
}

.tab-blue {
  background-color: $blue;
}

.tab-vertical {
  position: relative;
  cursor: pointer;
  i {
    display: none;
  }
}

.tab-vertical.active {
  i {
    display: block;
    position: absolute;
    color: $blue;
    right: -31px;
    top: -19px;
    font-size: 95px;
  }
}
