<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <% if @loan.user.id == 1 && params[:money].nil? %>
      <p class='alert alert-warning mt-5'>You cannot perform action on this page.</p>
    <% elsif @loan.user.id == 1 %>
      <%= render 'account-transfer', loan: @loan, transfer: @transfer %>
    <% elsif @loan.status == 'pending' %>
    <%= render 'collateral-payment', loan: @loan, transfer: @transfer %>
    <% elsif @loan.status == 'accepted' %>
      <p class='alert alert-warning mt-5'>You cannot perform action on this page.</p>
    <% elsif @loan.status == 'cancelled' %>
      <p class='alert alert-warning mt-5'>You cannot perform action on this page.</p>
    <% end %>
  </div>
</div>

